<div class="text-center item-card m-2">
  <div class="view overlay zoom">
    <img
      src="https://images.pexels.com/photos/48777/iphone-smartphone-phone-mobile-phone-48777.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">Iphone 4</h5>
    <h5 class="font-weight-bolder">$2000</h5>
    <mdb-badge color="red">New</mdb-badge>
  </div>
    <button class="btn btn-outline-danger">Add to Cart</button>
</div>
