<div class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image">
            <img width="450" src="https://images.pexels.com/photos/1983040/pexels-photo-1983040.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
             alt="">
          </div>
          <div class="col-lg-7 p-5">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h1 text-gray-900 mb-4">Reset Password</h1>
              </div>
              <form #confirmForm ="ngForm" (ngSubmit)="resetPassword(password, confrim)">
                <div class="form-group">
                  <input required #password ngModel name="password" type="password" class="form-control form-control-user"  placeholder="Enter password">
                </div>
                <div class="form-group">
                  <input required #confrim ngModel name="confrim" type="password" class="form-control form-control-user"  placeholder="Confirm password">
                </div>
                 <div class="d-flex justify-content-center text-danger" *ngIf="loading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <span class="text-danger" *ngIf="passwordError">Passwords Must match</span>
                <button type="submit" [disabled]="confirmForm.invalid || loading" class="btn btn-danger btn-user btn-block">
                  Reset password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>