<div class="product-list shadow-lg p-5">
  <!-- Todo clean up -->
    <!-- <div class="items-container">
        <h2 class="display-6 text-center font-italic">Phones</h2>
          <div class="d-flex flex-wrap">
              <app-product-card></app-product-card>  
              <app-product-card></app-product-card>   
              <app-product-card></app-product-card> 
              <app-product-card></app-product-card>   
            </div>
      </div> -->

      <div class="items-container">
          <h2 class=" display-6 text-center">Tv & Audio</h2>
            <div class="d-flex flex-wrap">
                <app-product-card></app-product-card>  
                <app-product-card></app-product-card>   
                <app-product-card></app-product-card> 
                <app-product-card></app-product-card>   
              </div>
        </div>
      
</div>
