<div class='container mt-5'>
  <div class="row">
    <div class="col-md-12 shadow-lg p-5">
      <h2>Change Password</h2>
      <!-- Extended default form grid -->
      <form #updateForm="ngForm" (ngSubmit)="updatePassword(updateForm)">
        <div class="form-group">
          <label for="inputAddress2">Old Password </label>
          <input type="password" ngModel #oldPassword="ngModel" name="oldPassword" class="form-control" id="lastName"
            placeholder="Enter current password" required minlength="5">
            <span class="text-danger" *ngIf="oldPassword.touched && oldPassword.errors?.required">
              Old Password is required
            </span>
            <span class="text-danger" *ngIf="oldPassword.touched && oldPassword.errors?.minlength">
              Old Password is suppossed to be a minimum of 5
            </span>
        </div>
        <!-- Grid row -->
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputCity">New Password</label>
            <input type="password" ngModel #newPassword="ngModel" name="newPassword" class="form-control" id="country"
              placeholder="Enter new Password"  required minlength="5">
              <span class="text-danger" *ngIf="newPassword.touched && newPassword.errors?.required">
                New Password is required
              </span>
              <span class="text-danger" *ngIf="newPassword.touched && newPassword.errors?.minlength">
                New Password is suppossed to be a minimum of 5
              </span>
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputZip">Old Password</label>
            <input appConfirmEqualDirective="newPassword" type="password" ngModel #passwordConfirmation="ngModel" 
            name="passwordConfirmation" class="form-control" placeholder="Confirm password" required minlength="5">
            <span class="text-danger" *ngIf="passwordConfirmation.touched && passwordConfirmation.errors?.required">
              Confirmation is required 
            </span>
            <span class="text-danger" *ngIf="passwordConfirmation.touched && passwordConfirmation.errors?.notEqual && !passwordConfirmation.errors?.required">
              Confirmation must match New Password
            </span>
            <span class="text-danger" *ngIf="passwordConfirmation.touched && passwordConfirmation.errors?.minlength">
              Password Confirmation is suppossed to be a minimum of 5
            </span>
            
          </div>
        </div>
        <!-- Grid row -->
        <button type="submit" [disabled]="updateForm.invalid || loading" class="btn btn-outline-danger btn-md">
          Update
        </button>
        <app-loading width="2rem" height="2rem" [loading]="loading"></app-loading>
      </form>

    </div>
  </div>

</div>
