<div class="container mt-5 p-5" [ngClass]="{
'right-panel-active': showSignup
}" id="container ">
  <div class="form-container sign-up-container">
    <form #signupForm="ngForm" (ngSubmit)="onSubmitSignUp(signupForm)">
      <h2>Create Account</h2>
      <p>Using Social Plaforms</p>
     <app-social-authentication></app-social-authentication>
      <p>Or use your email for registration</p>
      <input ngModel name="username"  type="text" placeholder="Username" #username="ngModel"  required/>
      <span class="text-danger" *ngIf="usernameTaken">Username Taken</span>
      <span class="text-danger" *ngIf="username.touched && username.invalid">username required</span>
      <input email name="email" ngModel placeholder="Email" required type="email" #email="ngModel" />
      <span class="text-danger" *ngIf="email.touched && email.invalid">Please enter valid email</span>
      <input ngModel name="password" type="password" placeholder="Password" #password ="ngModel"  required />
      <span class="text-danger" *ngIf="password.touched && password.invalid">Please enter valid password</span>
      <input ngModel name="confirm" type="password" placeholder="Confirm Password"  #confirm="ngModel" required />
      <span class="text-danger" *ngIf="confirm.touched && confirm.invalid">
        Please enter confirm password and must match with password
      </span>
      <span *ngIf="passwordMatch" class="text-danger">
        <p>Passwords Must Match</p>
      </span>
      <button class="btn btn-danger"
              [disabled]="signupForm.invalid || loading">
         Sign Up
        </button>
      <div class="spinner-border text-danger" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>

    </form>
  </div>
  <div class="form-container sign-in-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm)">
      <h2>Log In</h2>
      <p>With any of the social accounts</p>
      <app-social-authentication></app-social-authentication>
      <p>or use your email</p>
      <input email ngModel name="email" type="email" placeholder="Email" required #email="ngModel" />
      <span class="text-danger" *ngIf="email.touched && email.invalid">Valid email required</span>
      <input ngModel name="password" type="password" placeholder="Password" required #password="ngModel" />
      <span class="text-danger" *ngIf="password.touched && password.invalid">Please enter valid password</span>
      <a href="#">Forgot your password?</a>
      <button [disabled]="loginForm.invalid || loading" class="btn btn-danger">
        Login
      </button>
      <div class="spinner-border text-danger" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost btn btn-white" id="signIn" (click)="toggle()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost btn btn-white" id="signUp" (click)="toggle()">Sign Up </button>
      </div>
    </div>
  </div>
</div>


