<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg p-4 container">

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect> +256 705495719</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>info@deo.muhwezi.com</a>
      </li>
    </ul>
    <!-- Links -->
    <div class="nav-item">
      Login
    </div>
    <!-- Search form -->
    <div class="nav-item dropdown "  dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        My Account<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Cart</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Profile</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Products</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
