<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg
navbar-dark bg-danger  lighten-1" >

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">GULA</a></mdb-navbar-brand>
  <links>

    <!-- Links -->
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <div class="spinner-border text-white" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
      <a routerLink="/login" *ngIf="!authenticated && !loading"
      mdbBtn color="white" outline="true" size="sm"
       class="align-middle waves-light" mdbWavesEffect type="button">Login </a>

       <a [routerLink]="['signup']" *ngIf="!authenticated && !loading" mdbBtn color="white"
        mdbWavesEffect size="sm">Get Started
        </a>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="authenticated">
        <a dropdownToggle mdbWavesEffect type="button"
           class="nav-link waves-light" mdbWavesEffect>
        <mdb-icon fas icon="bell"></mdb-icon>
        <span class="badge badge-danger badge-counter">3+</span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <ul>
            <li>Notification</li>
            <li>Notification</li>
          </ul>
        </div>
      </li>

      <li class="nav-item avatar dropdown" dropdown *ngIf="authenticated">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img [src]="image || 'https://avataaars.io/?avatarStyle=Transparent&topType=Hat&accessoriesType=' +
           'Blank&facialHairType=Blank&clotheType=CollarSweater&clotheColor=' +
            'Gray01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Light'" alt=""
               class="img-fluid rounded-circle " width="20">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a *ngIf="isAdmin" class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin/dashboard">Admin</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/{{username}}">My Profile</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Cart</a>
          <a (click)="logOut()" class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
