<div class="landing-page-container border-bottom border-danger">
<app-header></app-header>
  <div class="row p-5">
    <div class="col-md-4 text-center">
      <h1 class="font-weight-bold display-4"> <span class="text-danger font-weight-bold">Gu</span>la Ug</h1>
    </div>
    <div class="col-md-8">
     <div class="row text-uppercase">
       <div class="col-md-4">
        <h2 class="font-weight-bold">Working Time </h2>
         Mon-Sun 8:00 -18:00
       </div>
       <div class="col-md-4">
        <h2 class="font-weight-bold">Free shipping</h2>
         On order over $199
       </div>
       <div class="col-md-4">
         <h2 class="font-weight-bold">Money Back</h2>
         With in 30 days after Delivery
       </div>
     </div>
      <div class="row">
        <div class="col-md-8">
          <!-- Search form -->
          <form class="form-inline md-form form-sm active-cyan-2">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search Products" aria-label="Search"
                   mdbInput>
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
        </div>
        <div class="col-md-4 mt-2">
          <button type="button" mdbBtn color="danger" mdbWavesEffect>Get Started</button>
        </div>
      </div>

    </div>
  </div>
</div>
