  <div class="landing-page-container">
    <div class="row p-5">
      <div class="col-md-4 text-center">
        <h1 class="font-weight-bold display-4">
          <span class="text-danger font-weight-bold">Gu</span>la Ug</h1>
      </div>
      <div class="col-md-8">
       <div class="row text-uppercase">
         <div class="col-md-4">
          <h2 class="font-weight-bold">Working Time </h2>
           Mon-Sun 8:00 -18:00
         </div>
         <div class="col-md-4">
          <h2 class="font-weight-bold">Free shipping</h2>
           On order over $199
         </div>
         <div class="col-md-4">
           <h2 class="font-weight-bold">Money Back</h2>
           With in 30 days after Delivery
         </div>
       </div>
        <div class="row">
          <div class="col-md-8">
            <!-- Search form -->
            <form class="form-inline md-form form-sm active-cyan-2">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search Products" aria-label="Search"
                     mdbInput>
              <i class="fas fa-search" aria-hidden="true"></i>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-offers></app-offers>
    <div class="products-section p-5 row">
      <div class="col-md-9">
        <app-product-list></app-product-list> 
        <app-banner></app-banner>
        <app-product-list></app-product-list> 
      </div>
      <div class="col-md-3 p-2">
        <app-product-filter></app-product-filter>
      </div>

    </div>
    <div class="new-items-container container">
    <div class="new-items row justify-content-center">
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Branded Headphones</h5>
                        <p class="card-text">Sale up to 25% off all in store</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                <div class="col-md-4">
                  <img src="https://demo.w3layouts.com/demos_new/template_demo/28-08-2018/electro_store-demo_Free/1204782700/web/images/off1.png" class="card-img" alt="...">
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                  <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Smart Phones 5</h5>
                        <p class="card-text">Free shipping order over $100</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                <div class="col-md-4">
                  <img src="https://demo.w3layouts.com/demos_new/template_demo/28-08-2018/electro_store-demo_Free/1204782700/web/images/off2.png" class="card-img" alt="...">
                </div>
              </div>
            </div>
      </div>
       
    </div>
    </div>
    <div class="footer-top-first">
        <div class="container py-md-5 py-sm-4 py-3">
          <!-- footer first section -->
          <h2 class="footer-top-head-w3l font-weight-bold mb-2">Electronics :</h2>
          <p class="footer-main mb-4">
            If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, we make it easy to
            find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops, cell phones, tablets
            and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.</p>
          <!-- //footer first section -->
          <!-- footer second section -->
          <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
            <div class="col-md-4 offer-footer">
              <div class="row">
                <div class="col-4 icon-fot">
                  <i class="fas fa-3x fa-dolly text-danger"></i>
                </div>
                <div class="col-8 text-form-footer">
                  <h3>Free Shipping</h3>
                  <p>on orders over $100</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 offer-footer my-md-0 my-4">
              <div class="row">
                <div class="col-4 icon-fot">
                  <i class="fas fa-3x fa-shipping-fast text-danger"></i>
                </div>
                <div class="col-8 text-form-footer">
                  <h3>Fast Delivery</h3>
                  <p>World Wide</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 offer-footer">
              <div class="row">
                <div class="col-4 icon-fot">
                  <i class="far fa-3x fa-thumbs-up text-danger "></i>
                </div>
                <div class="col-8 text-form-footer">
                  <h3>Big Choice</h3>
                  <p>of Products</p>
                </div>
              </div>
            </div>
          </div>
          <!-- //footer second section -->
        </div>
      </div>
    
  </div>



