<div class="container manage-users__container">
  <h1 class="center">Manage Users</h1>

  <div class="row container">
    <!-- Search form -->
    <form class="form-inline md-form form-sm active-pink-2">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
        mdbInput>
      <i class="fas fa-search" aria-hidden="true"></i>
    </form>
  </div>

  <!-- Card deck -->
  <div *ngIf="siteUsers.length >0;"class="user-list row ">
    <div *ngFor="let user of siteUsers" class="card p-2 mr-2 mb-2 hoverable" style="width: 12rem;">
      <div class="card-body view overlay zoom">
        <img [src]=" user.image || 'https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg'" alt="Avatar"
          class="md-avatar rounded-circle">
        <hr>
        <h6 mdbTooltip="name" placement="top" class="card-subtitle mb-2 text-muted pb-1">{{user.firstName || user.username}}</h6>
        <hr>
        <h6 mdbTooltip="Joined" placement="top" class="card-subtitle mb-2 text-muted pb-2"> {{ user.createdAt | date }}  </h6>
        <a routerLink="/user/{{user.username}}" class="btn btn-outline-danger btn-sm">Manage</a>
      </div>
    </div>
  </div>
  <!-- Card deck -->
  <!-- Grid row -->
</div>
